body {
    /* background-color: #161720; */
    background: linear-gradient(180deg, #a2c0ee, #0639c4);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #161720;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}
.e-cell-text {
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #1010d6;
}
.e-cell-text-1 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #fff;
}
.e-cell-text-2 {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #d5cccc;
}
.e-cell-text-3 {
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    margin-left: 20px;
}

main {
    padding: 20px;
    color: #fff;
}

.footer-container {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #390795;
    color: #fff;
}
  
/* .quick-links,
.contact-us {
    flex: 1;
}
 
.quick-links h2 {
    padding-left: 10;
}

.quick-links ul {
    list-style: none;
    padding: 10;
    margin: 0;
}
  
.quick-links li {
    margin-bottom: 10px;
}
  
.quick-links a,
.contact-us a {
    color: #fff;
    text-decoration: none;
} */

a{
    text-decoration: none;
    color: white;
}

.quick-links{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.quick-links li{
    padding: 1vw;
    list-style: none;
}
.quick-links ul{
    margin-left: -3.5vw;
}

.contact-us p {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.contact-us i{
    padding: 1vw;
}

.e-cell-text-3{
    font-size: 3em;
}
.content{
    padding-top: 4vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 3vw;
    font-size: 1.2em;
    line-height: 5vh;
}

.e-cell-text{
    font-size: 5em;
}

.e-cell-text-1{
    font-size: 4em;
}

.e-cell-text-2{
    font-size: 2.5em;
}
